<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Let's Get Better</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="/../css/styles.css">

	<!-- VENDOR SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

	<!-- APPLICATION SCRIPTS -->
	<script src="/../js/app.js"></script>
</head>
<body>
	<div class="jumbotron">
    <div class="container">
      <div id="user-Name">
        <h2>Alright {{userName}}</h2>
    	</div>
    		<h3>Let's take a look at your {{cold.name}}</h3>
  	</div>
	</div>

  <ol class="breadcrumb">
    <li><a class="sendHome" href="/">Home</a></li>
    <li><a class="sendHome" href="/users/{{uId}}">{{userName}}</a></li>
  </ol>

  <section id='log-form' class="container">
  <div class="row">
  <div class="col-md-10 col-md-offset-1">

    <form class="form-horizontal" id='new-log'>
      <fieldset>

        <!-- Form Name -->
        <legend>Add New Log</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Current Date</label>
          <div class="col-md-4">
          <input id="currentDate" name="currentDate" type="text" placeholder="mm-dd-year" class="form-control input-md" required="">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="dateStart">How do you feel today? From 1-10</label>
          <div class="col-md-4">
          <input id="feelScale" name="feelScale" type="text" placeholder="" class="form-control input-md">
          </div>
        </div>

        <!-- Text area-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="dateEnd">Symptoms? (commas between please)</label>
          <div class="col-md-4">
          <textarea id="symptoms" name="symptoms" class="form-control">cough, soar-throat</textarea>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="dateStart">Vitamin Intake Yesterday. From 1-10</label>
          <div class="col-md-4">
          <input id="vitamins" name="vitamins" type="text" placeholder="" class="form-control input-md">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="dateStart">What exercise did you do yesterday?</label>
          <div class="col-md-4">
          <input id="exercise" name="exercise" type="text" placeholder="Spin class, Went for a run" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="dateStart">Details</label>
          <div class="col-md-4">
          <input id="details" name="details" type="text" placeholder="Morning, feel crappy." class="form-control input-md">
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton">Create Log</label>
          <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  </div>
	</section>

	<section class="container">
		<div class="row">
	  	<div class="col-md-10">
	    	<h2>Logs</h2>
	  	</div>
		</div>
		<!-- User! -->
		<div id='logs-list'>
	    <!-- handlebars template -->
	 
	      {{#each cold.logs}}
	      <li class="list-group-item log" data-id="{{_id}}">
	      <div class="pull-right">

	      <a href="javascript:void(0)" data-toggle="collapse" data-target="#update-{{_id}}">
	        <span class="glyphicon glyphicon-pencil"></span>
	      </a>
	      
	      <!-- trash can icon to delete log -->
	       <a href="javascript:void(0)" class="delete-log">
	        <span class="glyphicon glyphicon-trash"></span>
	      </a>

	      </div>
	      <h4><strong>Log made on {{currentDate}}</strong></h4>
	      <div>On {{currentDate}} you felt like a <strong>{{feelScale}}</strong> on a scale of 1 to 10 and your symptoms are <strong>{{symptoms}}</strong>.</div>
	      <div>The day before your vitamin intake was a <strong>{{vitamins}}</strong> out of 10.</div>
	      <div>Your exercise yesterday consisted of: <strong>{{exercise}}.</strong></div>
	      <div>Here are your details on the day: <strong>{{details}}</strong></div>

	<!-- form to update log -->
		    <div class="collapse" id="update-{{_id}}">
		      <br>
		      <form class="form-inline update-log">
						<div class="form-group">
						<label for="currentDate">The current date</label>
						  <input type="text" name="currentDate" class="form-control" placeholder="" value="{{currentDate}}">
						</div>
						<div class="form-group">
						<label for="feelScale">How you felt (1-10)</label>
							<input type="text" name="feelScale" class="form-control" placeholder="" value="{{feelScale}}">
						</div>
						<div class="form-group">
						<label for="symptoms">Symptoms</label>
							<input type="text" name="symptoms" class="form-control" placeholder="" value="{{symptoms}}">
						</div>
						<div class="form-group">
						<label for="vitamins">Vitamin intake (1-10)</label>
							<input type="text" name="vitamins" class="form-control" placeholder="" value="{{vitamins}}">
						</div>
						<div class="form-group">
						<label for="exericse">What exercise did you do?</label>
							<input type="text" name="exercise" class="form-control" placeholder="" value="{{exercise}}">
						</div>
						<div class="form-group">
						<label for="details">Extra details</label>
							<input type="text" name="details" class="form-control" placeholder="" value="{{details}}">
						</div>
		        <div class="form-group">
		        	<input type="submit" class="btn btn-block btn-success" value="Update">
		        </div>
		      </form>
		    </div>

	      {{/each}}

		</div>
	</section>
		<br>
		<br>
</body>

</html>