<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Let's Get Better</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/styles.css">

	<!-- VENDOR SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

	<!-- APPLICATION SCRIPTS -->
	<script src="../js/app.js"></script>
</head>
<body>
	<div class="jumbotron">
    <div class="container">
      <div id="user-Name">
        <h1>Welcome {{user.userName}}</h1>
    	</div>
    	<p>Let's make you feel better</p>
  	</div>
	</div>

<section id='cold-form' class="container">
  <div class="row">
  <div class="col-md-10 col-md-offset-1">

    <form class="form-horizontal" id='new-cold'>
      <fieldset>

        <!-- Form Name -->
        <legend>Add a New Cold</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Cold Name</label>
          <div class="col-md-4">
          <input id="name" name="name" type="text" placeholder="Ex. Cold1" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="dateStart">What day did it start?</label>
          <div class="col-md-4">
          <input id="dateStart" name="dateStart" type="text" placeholder="mm-dd-year" class="form-control input-md">

          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="dateEnd">What day did it end?</label>
          <div class="col-md-4">
          <input id="dateEnd" name="dateEnd" type="text" placeholder="mm-dd-year" class="form-control input-md">

          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton">Create Cold</label>
          <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>Colds</h2>
    </div>
  </div>
  <!-- User! -->
  <div id='colds-list'>
    <!-- handlebars template -->
 
    {{#each user.colds}}
    <li class="list-group-item cold" data-id="{{_id}}">

    <div class="pull-right">
    <!-- edit pencil -->
    <a href="javascript:void(0)" data-toggle="collapse" data-target="#update-{{_id}}">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
    
    <!-- trash can icon to delete cold -->
    <a href="javascript:void(0)" class="delete-cold">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
    </div>

    <a href="" class="select-cold"><strong>{{name}}</strong></a>
    <span>{{dateStart}} to {{dateEnd}}</span>

  <!-- form to update cold -->
    <div class="collapse" id="update-{{_id}}">
      <br>
      <form class="form-inline update-cold">

        <div class="form-group">
        <label for="name">Name of cold</label>
          <input type="text" name="name" class="form-control" placeholder="" value="{{name}}">
        </div>

        <div class="form-group">
        <label for="dateStart">What day did your cold start on?</label>
          <input type="text" name="dateStart" class="form-control" placeholder="" value="{{dateStart}}">
        </div>

        <div class="form-group">
        <label for="dateEnd">What day did your cold end on?</label>
          <input type="text" name="dateEnd" class="form-control" placeholder="" value="{{dateEnd}}">
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-block btn-success" value="Update">
        </div>
      </form>
    </div>
    {{/each}}

  </div>
</section>


</body>

</html>